.page_wrap {
    padding-left: 340px;
}

.page_inner {
    background-color: #ECEDF1;
    border-radius: 20px 0px 0px 20px;
    height: 100vh;
    overflow: hidden;
    box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    padding-top: 80px;
}

.page-template-default {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.sidebar_left {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 340px;
    height: 100vh;
    background-color: transparent;
    padding-right: 30px;
}