.page_wrap {
    padding-top: 48px;
    padding-bottom: 70px;

    @include media-breakpoint-up(lg) {
        padding-left: 340px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.page_inner {
    background-color: #ECEDF1;
    min-height: 100vh;

    @include media-breakpoint-up(lg) {
        border-radius: 20px 0px 0px 20px;
        overflow: hidden;
        box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.15);
        padding: 20px;
        padding-top: 80px;
        height: 100vh;
    }
}

.page_body {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    padding-right: 0px;
    padding: 40px 20px;

    @include media-breakpoint-up(lg) {
        padding-right: 0px !important;
    }
}

.page_scroll {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include media-breakpoint-up(lg) {
        padding-right: 20px;
        row-gap: 40px;
    }
}

.sec_title {
    font-size: 24px;
    font-weight: 700;
    color: #2E548A;
    padding-left: 32px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;

    @include media-breakpoint-up(lg) {
        border-top: 1px solid #CDCFD5;
        border-bottom: 1px solid #CDCFD5;
        font-size: 28px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 40px;
    }

    @include media-breakpoint-up(xxl) {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 36px;
    }

    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.3333 17.4866L22.05 14.2033L16.7 8.8533C15.5666 7.73663 13.6333 8.53663 13.6333 10.1366V29.87C13.6333 31.47 15.5666 32.27 16.7 31.1366L25.3333 22.5033C26.7166 21.1366 26.7166 18.87 25.3333 17.4866Z' fill='%23C83438'/%3E%3C/svg%3E%0A");
        @include bg_cover;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;

        @include media-breakpoint-up(lg) {
            width: 40px;
            height: 40px;
        }
    }
}

.sidebar_bottom {
    background-color: #fff;
    left: 0px;
    bottom: 0px;
    width: 100%;
    position: fixed;
    z-index: 9999;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    .list {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        text-decoration: none !important;

        .icon {
            display: inline-flex;
            width: 24px;
            height: 24px;
        }

        .title {
            color: #2E2E2E;
            font-size: 14px;
        }

        // &:hover,
        &.active {
            .title {
                color: #C83438;
            }

            .icon {
                svg {
                    path {
                        stroke: #C83438;
                    }
                }
            }

            &.item_logout {
                .icon {
                    svg {
                        path {
                            stroke: #C83438;
                            fill: #C83438;
                        }
                    }
                }
            }
        }
    }
}

.popup_search {
    .modal-dialog {
        margin: 0px !important;
        margin-top: 48px !important;
        max-width: unset !important;
    }

    .modal-content {
        border: none !important;
        border-radius: 0px !important;
    }

    .modal-body {
        padding: 0px !important;
    }

    .box_search {
        padding: 15px 0px;

        .form_search {
            border: 1px solid #0387C3;
            width: 100%;
        }
    }
}


.popup_menu {
    .modal-dialog {
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 60px;
        margin-bottom: 90px;
        min-height: calc(100% - 60px - 90px) !important;
        height: calc(100% - 60px - 90px) !important;
        max-width: unset !important;
    }

    .modal-dialog-centered {
        align-items: flex-end !important;
    }

    .modal-content {
        border: none !important;
        border-radius: 0px !important;
        background-color: transparent !important;
    }

    .modal-body {
        padding: 0px !important;
    }

    .box_menu {
        background-color: #fff;
        border-radius: 8px;
        padding: 32px 20px;

        .sidebarMenu {
            padding: 0px;
        }
    }
}

.tabs_home {
    .nav {
        column-gap: 0px;
        justify-content: flex-start;
        row-gap: 20px;
        --bs-gutter-x: 30px;
        padding-top: 20px;
        padding-bottom: 20px;

        .nav-link {
            border: none !important;
            outline: none !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            background-color: transparent !important;
            color: #2E548A;
            font-size: 16px;
            font-weight: 400;
            transition: all 0.3s;

            &:hover {
                color: #C83438;
            }

            a {
                text-decoration: none !important;
                color: #2E548A;
                transition: all 0.3s;

                &:hover {
                    color: #C83438;
                }
            }

            &.active {
                color: #C83438;
            }
        }
    }

    .tab_body {
        background-color: #fff;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);

        @include media-breakpoint-up(lg) {
            padding: 24px;
            padding-right: 0px;
        }

        .row {
            --bs-gutter-x: 26px;
            row-gap: 24px;

            @include media-breakpoint-up(lg) {
                --bs-gutter-x: 80px;
                justify-content: center;
            }
        }
    }

    .tab_scroll {
        @include media-breakpoint-up(lg) {
            padding-right: 24px;
        }
    }

    .tabs_home_pc {
        display: none;

        @include media-breakpoint-up(lg) {
            display: flex;
        }
    }
}

.tabs_home_mb {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        border: none !important;
        outline: none !important;
        padding: 0px;
        padding-right: 26px;
        max-width: 100%;
        font-size: 16px;
        background-repeat: no-repeat;
        background-position: right 0px center;
        background-size: 20px;
        cursor: pointer;
        text-align: center;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%231A4079' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        color: #2E2E2E;

        &::-ms-expand {
            display: none;
        }
    }
}

.page_bottom {
    padding-top: 30px;
    padding-bottom: 10px;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .logo {
            display: inline-flex;
        }

        .copyright {
            font-size: 14px;
            color: #1A4079;
            opacity: 0.5;
            line-height: 1.8;
        }
    }
}

.block_btn_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block_heading {
    &>.row {
        --bs-gutter-x: 10px;
        row-gap: 10px;
        align-items: center;
    }

    .block_heading_img {
        max-width: 200px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .title {
        color: #000000;
        font-family: 16px;
        font-weight: 700;
    }

    .desc {
        color: #2E548A;
        font-size: 16px;
        font-weight: 700;
    }
}

.page_mark {
    @include bg_cover;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M21.5867 2.6665H10.4267C5.55999 2.6665 2.66666 5.55984 2.66666 10.4132V21.5732C2.66666 26.4265 5.55999 29.3198 10.4133 29.3198H21.5733C26.4267 29.3198 29.32 26.4265 29.32 21.5732V10.4132C29.3333 5.55984 26.44 2.6665 21.5867 2.6665Z' fill='%23A8C4D2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.6667 2.6665V16.5598C21.6667 17.4132 21.4133 18.0532 20.9733 18.3065C20.52 18.5732 19.8 18.4398 19 17.9598L17.24 16.9065C16.56 16.4932 15.44 16.4932 14.76 16.9065L13 17.9598C12.2 18.4398 11.48 18.5598 11.0267 18.3065C10.5867 18.0532 10.3333 17.4132 10.3333 16.5598V2.6665H21.6667Z' fill='%23A8C4D2'/%3E%3C/svg%3E%0A");
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    display: none;

    &.active {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M21.5866 2.6665H10.4266C5.55996 2.6665 2.66663 5.55984 2.66663 10.4132V21.5732C2.66663 26.4265 5.55996 29.3198 10.4133 29.3198H21.5733C26.4266 29.3198 29.32 26.4265 29.32 21.5732V10.4132C29.3333 5.55984 26.44 2.6665 21.5866 2.6665Z' fill='%23D2AE6D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.6667 2.6665V16.5598C21.6667 17.4132 21.4134 18.0532 20.9734 18.3065C20.52 18.5732 19.8 18.4398 19 17.9598L17.24 16.9065C16.56 16.4932 15.44 16.4932 14.76 16.9065L13 17.9598C12.2 18.4398 11.48 18.5598 11.0267 18.3065C10.5867 18.0532 10.3334 17.4132 10.3334 16.5598V2.6665H21.6667Z' fill='%23D2AE6D'/%3E%3C/svg%3E%0A");
    }

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.sec_title_mark {
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M21.5866 2.66699H10.4266C5.55996 2.66699 2.66663 5.56033 2.66663 10.4137V21.5737C2.66663 26.427 5.55996 29.3203 10.4133 29.3203H21.5733C26.4266 29.3203 29.32 26.427 29.32 21.5737V10.4137C29.3333 5.56033 26.44 2.66699 21.5866 2.66699Z' fill='%23D2AE6D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.6667 2.66699V16.5603C21.6667 17.4137 21.4134 18.0537 20.9734 18.307C20.52 18.5737 19.8 18.4403 19 17.9603L17.24 16.907C16.56 16.4937 15.44 16.4937 14.76 16.907L13 17.9603C12.2 18.4403 11.48 18.5603 11.0267 18.307C10.5867 18.0537 10.3334 17.4137 10.3334 16.5603V2.66699H21.6667Z' fill='%23D2AE6D'/%3E%3C/svg%3E%0A");

        @include media-breakpoint-up(lg) {
            width: 32px;
            height: 32px;
        }
    }
}

.club_row {
    --bs-gutter-x: 20px;
    row-gap: 20px;

    @include media-breakpoint-up(lg) {
        --bs-gutter-x: 40px;
        row-gap: 40px;
    }
}