/* Hand Book */
.handbook {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	// padding: 0px 10px;
	text-decoration: none !important;
}

.handbook__image {
	position: relative;
	width: 100%;
	height: 0px;
	padding-bottom: 136.4%;
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		// box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
}

.handbook__link {
	display: flex;
	text-decoration: none;
	justify-content: center;
}

.handbook__title {
	font-weight: 400 !important;
	font-size: 16px;
	text-align: center;
	color: #2e2e2e !important;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none !important;

	@include media-breakpoint-up(lg) {
		font-size: 18px;
	}
}

/* Button */
.read_more {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px 0px;
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 16px;
	color: #c83438 !important;
	background-color: transparent;
	border: none;
	text-decoration: none !important;

	&::after {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		min-width: 20px;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.3172 10.4423L11.6922 16.0673C11.5749 16.1846 11.4159 16.2505 11.25 16.2505C11.0841 16.2505 10.9251 16.1846 10.8078 16.0673C10.6905 15.95 10.6247 15.791 10.6247 15.6251C10.6247 15.4593 10.6905 15.3002 10.8078 15.1829L15.3664 10.6251H3.125C2.95924 10.6251 2.80027 10.5593 2.68306 10.442C2.56585 10.3248 2.5 10.1659 2.5 10.0001C2.5 9.83434 2.56585 9.67537 2.68306 9.55816C2.80027 9.44095 2.95924 9.3751 3.125 9.3751H15.3664L10.8078 4.81729C10.6905 4.70002 10.6247 4.54096 10.6247 4.3751C10.6247 4.20925 10.6905 4.05019 10.8078 3.93292C10.9251 3.81564 11.0841 3.74976 11.25 3.74976C11.4159 3.74976 11.5749 3.81564 11.6922 3.93292L17.3172 9.55792C17.3753 9.61596 17.4214 9.68489 17.4529 9.76077C17.4843 9.83664 17.5005 9.91797 17.5005 10.0001C17.5005 10.0822 17.4843 10.1636 17.4529 10.2394C17.4214 10.3153 17.3753 10.3842 17.3172 10.4423Z' fill='%23C83438'/%3E%3C/svg%3E%0A");
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.button_1 {
	padding: 10px 60px;
	border: none;
	border-radius: 5px;
	background-color: #2e548a;
	display: inline-flex;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 18px;
	color: #ffffff !important;
	text-decoration: none !important;
	min-width: 220px;
}

.button_1__active {
	background-color: #c83438 !important;
}

/* Banner */
.banner {
	position: relative;
	width: 100%;
	padding-bottom: 40%; // Tỉ lệ ảnh, có thể điều chỉnh theo nhu cầu (ví dụ: 40% tương đương 2.5:1)
	background-image: url("../../assets/images/Banner-img.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	@include media-breakpoint-up(lg) {
		padding-bottom: 0%; // Giảm chiều cao banner trên màn lớn nếu muốn
		min-height: 20vh;
		height: 22vh;
	}

	.banner__content {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}

	.banner__social {
		display: flex;
		padding: 5px 10px;
		border-radius: 20px;
		gap: 10px;
		background: rgba(255, 255, 255, 0.5);
	}

	.banner__social-icon {
		display: inline-flex;
		width: 24px;
		height: 24px;
		min-width: 24px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		&:hover {
			opacity: 0.8;
		}

		&--facebook {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 16.19C22 19.83 19.83 22 16.19 22H15C14.45 22 14 21.55 14 21V15.23C14 14.96 14.22 14.73 14.49 14.73L16.25 14.7C16.39 14.69 16.51 14.59 16.54 14.45L16.89 12.54C16.8968 12.4967 16.8941 12.4525 16.8822 12.4103C16.8702 12.3681 16.8492 12.3291 16.8207 12.2958C16.7922 12.2625 16.7568 12.2358 16.717 12.2176C16.6771 12.1993 16.6338 12.1899 16.59 12.19L14.46 12.22C14.18 12.22 13.96 12 13.95 11.73L13.91 9.28C13.91 9.12 14.04 8.98 14.21 8.98L16.61 8.94C16.78 8.94 16.91 8.81 16.91 8.64L16.87 6.24C16.87 6.07 16.74 5.94 16.57 5.94L13.87 5.98C13.4759 5.98599 13.0868 6.06969 12.725 6.22632C12.3633 6.38295 12.0361 6.60942 11.762 6.89276C11.488 7.1761 11.2725 7.51073 11.128 7.87748C10.9835 8.24422 10.9128 8.63588 10.92 9.03L10.97 11.78C10.98 12.06 10.76 12.28 10.48 12.29L9.28 12.31C9.11 12.31 8.98 12.44 8.98 12.61L9.01 14.51C9.01 14.68 9.14 14.81 9.31 14.81L10.51 14.79C10.79 14.79 11.01 15.01 11.02 15.28L11.11 20.98C11.12 21.54 10.67 22 10.11 22H7.81C4.17 22 2 19.83 2 16.18V7.81C2 4.17 4.17 2 7.81 2H16.19C19.83 2 22 4.17 22 7.81V16.19Z' fill='%232E548A'/%3E%3C/svg%3E%0A"); // Đặt đường dẫn icon Facebook
		}

		&--youtube {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 4H7C4 4 2 6 2 9V15C2 18 4 20 7 20H17C20 20 22 18 22 15V9C22 6 20 4 17 4ZM13.89 13.03L11.42 14.51C10.42 15.11 9.6 14.65 9.6 13.48V10.51C9.6 9.34 10.42 8.88 11.42 9.48L13.89 10.96C14.84 11.54 14.84 12.46 13.89 13.03Z' fill='%232E548A'/%3E%3C/svg%3E%0A"); // Đặt đường dẫn icon YouTube
		}

		&--telegram {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.14 2.96004L7.11 5.96004C1.03999 7.99004 1.03999 11.3 7.11 13.32L9.79 14.21L10.68 16.89C12.7 22.96 16.02 22.96 18.04 16.89L21.05 7.87004C22.39 3.82004 20.19 1.61004 16.14 2.96004ZM16.46 8.34004L12.66 12.16C12.51 12.31 12.32 12.38 12.13 12.38C11.94 12.38 11.75 12.31 11.6 12.16C11.4605 12.0189 11.3823 11.8285 11.3823 11.63C11.3823 11.4316 11.4605 11.2412 11.6 11.1L15.4 7.28004C15.69 6.99004 16.17 6.99004 16.46 7.28004C16.75 7.57004 16.75 8.05004 16.46 8.34004Z' fill='%232E548A'/%3E%3C/svg%3E%0A"); // Đặt đường dẫn icon Telegram
		}
	}
}

/* Gallery */

/* Table */
.table {
	width: 100%;
	table-layout: fixed;
	/* Cố định bố cục bảng */
}

.table thead {
	background-color: #f2f6f9;
	border-bottom: 1px solid rgba(210, 211, 213, 1);
}

.table thead th {
	padding: 10px 20px;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 16px;
	//
	color: #2e2e2e;
}

.table th:nth-child(1),
.table td:nth-child(1) {
	width: 50%;
	text-align: left;
}

.table th:nth-child(2),
.table td:nth-child(2) {
	width: 30%;
	text-align: right;
}

.table th:nth-child(3),
.table td:nth-child(3) {
	width: 20%;
	text-align: right;
}

.table tbody {
	border: 1px solid #d2d3d5;
}

.table tbody td {
	padding: 15px 20px;
	border-bottom: 1px solid #d2d3d5;
	//
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 16px;
	//
	color: #2e2e2e;
}

/* Tabs */
.block_tab {
	margin-bottom: 30px;

	.navItem {
		background-color: #ecedf1;
	}

	.nav {
		justify-content: end;
		gap: 30px;
	}

	.nav-tabs {
		border-bottom: none !important;
	}

	.nav-tabs .nav-link {
		border: none !important;
		padding: 0px;
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 16px;
		color: #2e548a;
	}

	.nav-tabs .nav-link:hover,
	.nav-tabs .nav-link:focus {
		color: #c83438;
	}

	.nav-tabs .nav-link.active {
		// color: #495057;
		background-color: transparent;
		// border-color: #dee2e6 #dee2e6 #fff;
		border: none !important;
		//
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 16px;
		color: #c83438;
	}
}

.block_tab_content {
	.tab-content {
		.tab-content__title {
			font-family: "Montserrat";
			font-weight: 700;
			font-size: 24px;
			color: #2e548a;
			//
			margin-top: 0px;
			margin-bottom: 20px;
		}
	}
}


/* Form Search */
.inner_form {
	padding: 30px;
	background-color: #2e548a;
}

.form_search {
	display: inline-flex;
	position: relative;
	/* Cần để căn chỉnh icon */
	justify-content: space-between;
	align-items: center;
	//
	background-color: #ffffff;
	border-radius: 12px;
	//
	padding: 10px 20px;
}

.form_search input#search__input {
	flex: 1;
	background-color: rgba(0, 0, 0, 0) !important;
	border: none;
	outline: none;
	appearance: none;
	//
	padding: 0px;
	border-radius: 0px;
	//
	font-family: "Inter", "sans-serif";
	font-weight: 400;
	font-size: 14px;
}

.form_search input::placeholder {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 14px;
	//
	color: #779ace;
}

/* Loại bỏ hover màu nền */
.form_search button:hover,
.form_search button:focus {
	background-color: transparent;
	box-shadow: none;
}

/* Button với background-image */
.form_search button {
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M22 22L20 20M11.5 21C12.7476 21 13.9829 20.7543 15.1355 20.2769C16.2881 19.7994 17.3354 19.0997 18.2175 18.2175C19.0997 17.3354 19.7994 16.2881 20.2769 15.1355C20.7543 13.9829 21 12.7476 21 11.5C21 10.2524 20.7543 9.0171 20.2769 7.86451C19.7994 6.71191 19.0997 5.66464 18.2175 4.78249C17.3354 3.90033 16.2881 3.20056 15.1355 2.72314C13.9829 2.24572 12.7476 2 11.5 2C8.98044 2 6.56408 3.00089 4.78249 4.78249C3.00089 6.56408 2 8.98044 2 11.5C2 14.0196 3.00089 16.4359 4.78249 18.2175C6.56408 19.9991 8.98044 21 11.5 21Z' stroke='%231A4079' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	//
	width: 24px;
	/* Điều chỉnh kích thước icon */
	height: 24px;
	min-width: 24px;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* GALLERY */
.gallery__row {
	--bs-gutter-x: 20px;
	row-gap: 20px;
}

.gallery__image-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 66.66%;
	/* Tỷ lệ 3:2 */
	overflow: hidden;
}

.gallery__image-wrapper img.gallery__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.gallery__image-wrapper:hover img.gallery__image {
	transform: scale(1.05);
}

/* ACCORDION COMPONENT */
.container-accordion {
	max-width: 800px;
	margin: auto;
}

.accordion {
	.accordion-item {
		border-radius: 4px;
		overflow: hidden;
		border: none;
		// Khoảng cách giữa các khối
		margin-bottom: 16px;

		&:last-child {
			// kKhoảng cách giữa các khối
			margin-bottom: 0px;
		}

		.accordion-header {
			button.accordion-button {
				padding: 16px;
				background-color: #eaeaea;
				border: none !important;
				border-radius: 0px;
				//
				font-family: "Montserrat";
				font-weight: 700;
				font-size: 18px;
				text-transform: uppercase;
				color: #2e2e2e;
				//
				// transition: background-color 0.3s ease;

				&::after {
					content: "";
					display: inline-block;
					width: 24px;
					height: 24px;
					//
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5101 15.7002L15.4801 13.7302L18.6901 10.5202C19.3601 9.84018 18.8801 8.68018 17.9201 8.68018H11.6901H6.08007C5.12007 8.68018 4.64007 9.84018 5.32007 10.5202L10.5001 15.7002C11.3201 16.5302 12.6801 16.5302 13.5101 15.7002Z' fill='%232E2E2E'/%3E%3C/svg%3E%0A");
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					//
					margin-left: auto;
					transition: transform 0.3s ease;
				}

				&:not(.collapsed)::after {
					// transform: rotate(-180deg);
				}

				&:hover {
					// 	background-color: #e0e0e0;
				}

				&:focus {
					border: none;
					box-shadow: none;
				}

				//
				&:not(.collapsed) {
					// background-color: #fff;
					color: #c83438; // tiêu đề màu đỏ khi mở
					box-shadow: none;

					&::after {
						transform: rotate(0deg);
						background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5101 9.29982L15.4801 11.2698L18.6901 14.4798C19.3601 15.1598 18.8801 16.3198 17.9201 16.3198H11.6901H6.08007C5.12007 16.3198 4.64007 15.1598 5.32007 14.4798L10.5001 9.29982C11.3201 8.46982 12.6801 8.46982 13.5101 9.29982Z' fill='%23C83438'/%3E%3C/svg%3E%0A");
					}
				}
			}
		}

		.accordion-collapse {
			transition: max-height 0.3s ease;
		}

		.accordion-body {
			background-color: #f4f4f4;
			padding: 16px;
		}
	}
}

/* CARD CLUB */
.card_club__inner {
	width: 900px;
	margin: auto;
}

.card_club {
	&__image-wrapper {
		position: relative;
		width: 100%;
		height: 0px;
		padding-bottom: 100%; // giữ tỉ lệ vuông
		overflow: hidden;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__description {
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 16px;
		color: #2e2e2e;
		//
		margin-bottom: 0px;
	}

	&__contact_title {
		font-family: "Montserrat";
		font-weight: 700;
		font-size: 18px;
		color: #2e548a;
		//
		margin-top: 0px;
		margin-bottom: 10px;
	}

	&__contact_list {
		list-style: disc;
		padding-left: 20px;
		font-size: 15px;
		//
		margin-bottom: 0px;

		li {
			margin-bottom: 6px;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		&--desc {
			font-family: "Montserrat";
			font-weight: 400;
			font-size: 16px;
			color: #2e2e2e;
		}

		&--phone,
		&--mail {
			font-family: "Montserrat";
			font-weight: 700;
			font-size: 16px;
			color: #2e2e2e;
		}

		&--facebook {
			font-family: "Montserrat";
			font-weight: 400;
			font-size: 16px;
			color: #c83438 !important;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/* LIST POST */
.list_post {
	padding: 24px;

	&__title {
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 18px;
		color: #2e2e2e;
		//
		margin-bottom: 30px;
	}

	&__keyword {
		font-weight: 700;
		color: #c83438;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		// margin-bottom: 30px;

		// &:last-child {
		// 	margin-bottom: 0px;
		// }
	}

	&__link {
		display: flex;
		text-decoration: none;
	}

	&__heading {
		font-family: "Montserrat";
		font-weight: 700;
		font-size: 16px;
		color: #2e548a;
		//
		margin-top: 0px;
		margin-bottom: 0px;
	}

	&__description {
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 16px;
		color: #2e2e2e;
		//
		margin-bottom: 0px;
	}
}

/* LIST MARK */
.list_mark {
	&__intro {
		font-size: 16px;
		margin-bottom: 16px;
		color: #333;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 0px;
		border-bottom: 1px solid #d2d3d5;
		gap: 8px;

		@include media-breakpoint-down(lg) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}

	&__content {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 16px;
	}

	&__index,
	&__title {
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 16px;
		color: #2e548a;
		//
	}

	&__actions {
		display: flex;
		justify-content: end;
		align-items: center;
		gap: 32px;
	}

	&__action {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 10px;
		//
		text-decoration: none;
		//
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 16px;

		&--visit {
			color: #2e548a;
		}

		&--remove {
			color: #2e2e2e;
		}

		&::before {
			content: "";
			width: 24px;
			height: 24px;
			min-width: 24px;
			//
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}

		&--visit::before {
			background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cpath d='M21.46 17.8405L19.83 18.3905C19.38 18.5405 19.02 18.8905 18.87 19.3505L18.32 20.9805C17.85 22.3905 15.87 22.3605 15.43 20.9505L13.58 15.0005C13.22 13.8205 14.31 12.7205 15.48 13.0905L21.44 14.9405C22.84 15.3805 22.86 17.3705 21.46 17.8405Z' stroke='%232E548A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.5 12C22.5 6.48 18.02 2 12.5 2C6.98 2 2.5 6.48 2.5 12C2.5 17.52 6.98 22 12.5 22' stroke='%232E548A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
		}

		&--remove::before {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cpath d='M9.17 14.83L14.83 9.17M14.83 14.83L9.17 9.17M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z' stroke='%232E2E2E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
		}
	}
}


.card_club {
	&__image-wrapper {
		position: relative;
		width: 100%;
		height: 0px;
		padding-bottom: 100%; // giữ tỉ lệ vuông
		overflow: hidden;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&--desc {
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 16px;
		color: #2e2e2e;
	}

	a {
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 16px;
		color: #c83438 !important;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}