.secDownload{
    &__item {
        display: inline-flex;
        column-gap: 16px;
        margin-bottom: 16px
    }
    &__icon {
        flex: 0 0 64px;
        max-width: 64px;
        width: 64px;
        height: 64px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M54.668 27.172H46.9613C40.6413 27.172 35.4946 22.0254 35.4946 15.7054V7.9987C35.4946 6.53203 34.2946 5.33203 32.828 5.33203H21.5213C13.308 5.33203 6.66797 10.6654 6.66797 20.1854V43.812C6.66797 53.332 13.308 58.6654 21.5213 58.6654H42.4813C50.6946 58.6654 57.3346 53.332 57.3346 43.812V29.8387C57.3346 28.372 56.1346 27.172 54.668 27.172ZM32.748 42.0787L27.4146 47.412C27.228 47.5987 26.988 47.7587 26.748 47.8387C26.508 47.9454 26.268 47.9987 26.0013 47.9987C25.7346 47.9987 25.4946 47.9454 25.2546 47.8387C25.0413 47.7587 24.828 47.5987 24.668 47.4387C24.6413 47.412 24.6146 47.412 24.6146 47.3854L19.2813 42.052C18.508 41.2787 18.508 39.9987 19.2813 39.2254C20.0546 38.452 21.3346 38.452 22.108 39.2254L24.0013 41.172V29.9987C24.0013 28.9054 24.908 27.9987 26.0013 27.9987C27.0946 27.9987 28.0013 28.9054 28.0013 29.9987V41.172L29.9213 39.252C30.6946 38.4787 31.9746 38.4787 32.748 39.252C33.5213 40.0254 33.5213 41.3054 32.748 42.0787Z' fill='%23C0C0C0'/%3e%3cpath d='M46.4818 23.4946C49.0151 23.5213 52.5351 23.5213 55.5484 23.5213C57.0684 23.5213 57.8684 21.7346 56.8018 20.6679C52.9618 16.8013 46.0818 9.84128 42.1351 5.89462C41.0418 4.80128 39.1484 5.54795 39.1484 7.06795V16.3746C39.1484 20.268 42.4551 23.4946 46.4818 23.4946Z' fill='%23C0C0C0'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title{
        font-size: 16px;
        font-weight: 700;
    }

    &__link{
        word-break: break-word;
        color: $primary;
        text-decoration: underline;
        &:hover{
            color: $primary;
        }
    }
}