.header_pc {
    padding-left: 340px;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 80px;
    overflow: hidden;
    width: 100%;
    align-items: center;
    display: none;
    z-index: 9999;

    @include media-breakpoint-up(lg) {
        display: flex;
    }


    .header_inner {
        background-color: #ECEDF1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px 0px 0px 0px;
    }

    .header_nav {
        .menu {
            display: flex;
            gap: 30px;

            .menu_item {
                color: #2E2E2E;
                text-decoration: none !important;
                font-size: 18px;
                padding-left: 34px;
                position: relative;
                display: inline-flex;
                transition: all 0.3s;

                &:hover,
                &.active {
                    color: #C83438;
                }

                &::before {
                    content: '';
                    @include bg_cover;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: all 0.3s;
                }

                &.menu_item_home {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 18.0001V15.0001M10.07 2.82009L3.14002 8.37009C2.36002 8.99009 1.86002 10.3001 2.03002 11.2801L3.36002 19.2401C3.60002 20.6601 4.96002 21.8101 6.40002 21.8101H17.6C19.03 21.8101 20.4 20.6501 20.64 19.2401L21.97 11.2801C22.13 10.3001 21.63 8.99009 20.86 8.37009L13.93 2.83009C12.86 1.97009 11.13 1.97009 10.07 2.82009Z' stroke='%232E2E2E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    }

                    &:hover,
                    &.active {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 18.0001V15.0001M10.07 2.82009L3.14002 8.37009C2.36002 8.99009 1.86002 10.3001 2.03002 11.2801L3.36002 19.2401C3.60002 20.6601 4.96002 21.8101 6.40002 21.8101H17.6C19.03 21.8101 20.4 20.6501 20.64 19.2401L21.97 11.2801C22.13 10.3001 21.63 8.99009 20.86 8.37009L13.93 2.83009C12.86 1.97009 11.13 1.97009 10.07 2.82009Z' stroke='%23C83438' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }
                    }
                }

                &.menu_item_res {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 12C13.5 15.18 10.93 17.75 7.75 17.75C4.57 17.75 2 15.18 2 12C2 8.82 4.57 6.25 7.75 6.25' stroke='%232E2E2E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 12C10 8.69 12.69 6 16 6C19.31 6 22 8.69 22 12C22 15.31 19.31 18 16 18' stroke='%232E2E2E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    }

                    &:hover,
                    &.active {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 12C13.5 15.18 10.93 17.75 7.75 17.75C4.57 17.75 2 15.18 2 12C2 8.82 4.57 6.25 7.75 6.25' stroke='%23C83438' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 12C10 8.69 12.69 6 16 6C19.31 6 22 8.69 22 12C22 15.31 19.31 18 16 18' stroke='%23C83438' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }
                    }
                }

                &.menu_item_login {
                    padding-left: 42px;

                    &::before {
                        width: 32px;
                        height: 32px;
                        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M14.3467 2.66675C13.7067 2.66675 13.2 3.17341 13.2 3.81341V28.2001C13.2 28.8267 13.7067 29.3467 14.3467 29.3467C22.2 29.3467 27.68 23.8667 27.68 16.0134C27.68 8.16008 22.1867 2.66675 14.3467 2.66675Z' fill='%232E2E2E'/%3E%3Cpath d='M21.2 15.3867L17.4133 11.5867C17.2252 11.4007 16.9712 11.2964 16.7067 11.2964C16.4421 11.2964 16.1882 11.4007 16 11.5867C15.6133 11.9733 15.6133 12.6133 16 13L18.08 15.08H5.32001C4.77334 15.08 4.32001 15.5333 4.32001 16.08C4.32001 16.6267 4.77334 17.08 5.32001 17.08H18.08L16 19.1733C15.6133 19.56 15.6133 20.2 16 20.5867C16.2 20.7867 16.4533 20.88 16.7067 20.88C16.96 20.88 17.2133 20.7867 17.4133 20.5867L21.2 16.7867C21.6 16.4 21.6 15.7733 21.2 15.3867Z' fill='%232E2E2E'/%3E%3C/svg%3E%0A");
                    }

                    &:hover,
                    &.active {
                        &::before {
                            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M14.3467 2.66675C13.7067 2.66675 13.2 3.17341 13.2 3.81341V28.2001C13.2 28.8267 13.7067 29.3467 14.3467 29.3467C22.2 29.3467 27.68 23.8667 27.68 16.0134C27.68 8.16008 22.1867 2.66675 14.3467 2.66675Z' fill='%23C83438'/%3E%3Cpath d='M21.2 15.3867L17.4133 11.5867C17.2252 11.4007 16.9712 11.2964 16.7067 11.2964C16.4421 11.2964 16.1882 11.4007 16 11.5867C15.6133 11.9733 15.6133 12.6133 16 13L18.08 15.08H5.32001C4.77334 15.08 4.32001 15.5333 4.32001 16.08C4.32001 16.6267 4.77334 17.08 5.32001 17.08H18.08L16 19.1733C15.6133 19.56 15.6133 20.2 16 20.5867C16.2 20.7867 16.4533 20.88 16.7067 20.88C16.96 20.88 17.2133 20.7867 17.4133 20.5867L21.2 16.7867C21.6 16.4 21.6 15.7733 21.2 15.3867Z' fill='%23C83438'/%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }
        }
    }

    .header_form {
        .form_search {
            width: 320px;
        }
    }
}

.header_mb {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    height: 48px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    .header_mb_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        display: inline-flex;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    .bookmark_icon {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M16.69 2H8.32C4.67 2 2.5 4.17 2.5 7.81V16.18C2.5 19.82 4.67 21.99 8.31 21.99H16.68C20.32 21.99 22.49 19.82 22.49 16.18V7.81C22.5 4.17 20.33 2 16.69 2Z' fill='%232E548A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.75 2V12.42C16.75 13.06 16.56 13.54 16.23 13.73C15.89 13.93 15.35 13.83 14.75 13.47L13.43 12.68C12.92 12.37 12.08 12.37 11.57 12.68L10.25 13.47C9.65 13.83 9.11 13.92 8.77 13.73C8.44 13.54 8.25 13.06 8.25 12.42V2H16.75Z' fill='%232E548A'/%3E%3C/svg%3E%0A");
        width: 24px;
        height: 24px;
        @include bg_cover;

        &.active {
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.4' d='M16.69 2H8.32C4.67 2 2.5 4.17 2.5 7.81V16.18C2.5 19.82 4.67 21.99 8.31 21.99H16.68C20.32 21.99 22.49 19.82 22.49 16.18V7.81C22.5 4.17 20.33 2 16.69 2Z' fill='%23D2AE6D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.75 2V12.42C16.75 13.06 16.56 13.54 16.23 13.73C15.89 13.93 15.35 13.83 14.75 13.47L13.43 12.68C12.92 12.37 12.08 12.37 11.57 12.68L10.25 13.47C9.65 13.83 9.11 13.92 8.77 13.73C8.44 13.54 8.25 13.06 8.25 12.42V2H16.75Z' fill='%23D2AE6D'/%3E%3C/svg%3E%0A");
        }
    }

    .search_icon {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 22L20 20M11.5 21C12.7476 21 13.9829 20.7543 15.1355 20.2769C16.2881 19.7994 17.3354 19.0997 18.2175 18.2175C19.0997 17.3354 19.7994 16.2881 20.2769 15.1355C20.7543 13.9829 21 12.7476 21 11.5C21 10.2524 20.7543 9.0171 20.2769 7.86451C19.7994 6.71191 19.0997 5.66464 18.2175 4.78249C17.3354 3.90033 16.2881 3.20056 15.1355 2.72314C13.9829 2.24572 12.7476 2 11.5 2C8.98044 2 6.56408 3.00089 4.78249 4.78249C3.00089 6.56408 2 8.98044 2 11.5C2 14.0196 3.00089 16.4359 4.78249 18.2175C6.56408 19.9991 8.98044 21 11.5 21Z' stroke='%232E548A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 24px;
        height: 24px;
        @include bg_cover;
    }

    .content_right {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        align-items: center;
    }
}